

/* x-s Devices which is the default */



/* Text alterations */

h1, 
.aHeader,
.navbar-light .navbar-text a ,{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	padding: 10px 10px 0px 10px;
	line-height: 80px;
	color: #ffffff;
	background-color: #4aaaa5;
	margin-top: 10px;
}

.navbar-brand {
	height: 100%;

}

.navbar.navbar-toggleable-md.navbar-light.bg-faded {
	padding: 0px;
}

h2,
h3,
h4{
	color:#4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	text-align: center;
}


p,
fname,
lname,
subject {
	padding: 10px 0px 0px 0px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 16px;
	color: #666666;
	letter-spacing: 1px;
}

.nav-item{
	font-size: 16;
	color:grey;
}

/* Adding Color to the background of classes and the body */

body {
	background-image: url(assets/images/round.png);
	background-color: coral;
}

.col-md-3,
.col-md-8 {
	background-color: whitesmoke;
	margin: 5px 0px 5px 0px;
}

.nav-item {
	width:
}


.container.noWrap {
	padding: 0px;
	background-color: whitesmoke;
	margin-bottom: 0 px;
}


.navbar.navbar-light.bg-faded, 
nav {
padding-bottom: 0px;
margin-bottom: 0px;
}

header {
	width:100%;
	background-color: whitesmoke;
}

footer {
	text-align: center;
	padding: 15px 0px 15px 0px;
	background-color: whitesmoke;
	margin-top: 5px;
	width: 100%;
}


/* 
Image classes
 */
 .panel.paneldefault {
	 padding: 0px 5px 0px 5px;
 }

.imgIcon {
	height: 100%;
	margin: 00px;
	padding: 00px;
	max-width: 33%;
}

.imageP {
	max-width: 35%;
	float: left;
	padding: 0px 10px 10px 0px;
}

.rowIcon {
	display: flex;
	justify-content: center;
}


.pFooter{
	text-align: center;

}